**`Proyecto Individual 2 - DA - Accidentes Aereos`**

In [15]:
import pandas as pd
import numpy as np

In [16]:
df= pd.read_csv('AccidentesAviones.csv', encoding='utf-8')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  5008 non-null   datetime64[ns]
 1   Time                  3287 non-null   object
 2   Location              5003 non-null   object
 3   Operator              4998 non-null   object
 4   Flight                1326 non-null   object
 5   Route                 4245 non-null   object
 6   AC Type               4995 non-null   object
 7   Registration          4736 non-null   object
 8   Serial                4341 non-null   object
 9   Aboard                4991 non-null   object
 10  Passenger_Aboard      4787 non-null   object
 11  Crew_Aboard           4789 non-null   object
 12  Fatalities            5000 non-null   object
 13  Passenger_Fatalities  4773 non-null   object
 14  Crew_Fatalities       4773 non-null   object
 15  Ground_Fatalities     4964 non-null   object
 16  Summary               4949 non-null   object
dtypes: datetime64[ns](1), object(16)
memory usage: 665.3+ KB

In [18]:
df.drop('Unnamed: 0', axis=1,inplace=True)

In [19]:
columns_name = ['Date','Time','Location','Operator','Flight','Route','AC Type','Registration','Serial','Aboard','Passenger_Aboard','Crew_Aboard','Fatalities','Passenger_Fatalities','Crew_Fatalities','Ground_Fatalities','Summary']
df.columns = columns_name

In [20]:
df.replace('?', np.nan, inplace=True)

In [22]:
df.isnull().sum()

Date                       0
Time                    1504
Location                   5
Operator                  10
Flight                  3682
Route                    763
AC Type                   13
Registration             272
Serial                   667
Aboard                    17
Passenger_Aboard         221
Crew_Aboard              219
Fatalities                 8
Passenger_Fatalities     235
Crew_Fatalities          235
Ground_Fatalities         44
Summary                   59
dtype: int64

In [23]:
df['Date']= pd.to_datetime(df['Date'])

In [24]:
df['Time'] = pd.to_datetime(df['Time'], format='%H%M', errors='coerce')
df['Time'] = df['Time'].dt.strftime('%H:00')

In [26]:
(df.isnull().sum()) / len(df) * 100

Date                     0.000000
Time                    34.365016
Location                 0.099840
Operator                 0.199681
Flight                  73.522364
Route                   15.235623
AC Type                  0.259585
Registration             5.431310
Serial                  13.318690
Aboard                   0.339457
Passenger_Aboard         4.412939
Crew_Aboard              4.373003
Fatalities               0.159744
Passenger_Fatalities     4.692492
Crew_Fatalities          4.692492
Ground_Fatalities        0.878594
Summary                  1.178115
dtype: float64